.paperless-storage-message {
  padding: var(--size-4-3);
  color: var(--text-muted);
  background-color: var(--background-secondary);
  border-radius: var(--radius-s);
  font-size: var(--font-ui-small);
}
